.subpage #logo {
  min-width: 300px;
}

.subpage #bg {
  animation: none;
}

.subpage body {
  max-width: 850px;
}

.subpage header, .subpage main {
  animation: none;
}

.subpage header, .subpage section {
  background: #ffffff40;
}

.subpage header:hover {
  background: #ffffff90;
  box-shadow: 5px 5px 30px #fff3;
  border-color: rgba(0,0,0,0.15);
}

.article {
  font-size: 1.1rem;
  padding: 1rem;
  grid-column: span 6;
}

@media screen and (min-width: 768px) {
  .article {
    padding: 2rem;
  }
}

@media screen and (min-width: 1900px) {
  .subpage body {
    max-width: 1000px;
  }

  .article {
    font-size: 1.3rem;
  }
}

.article p {
  margin: 1.25rem 0;
}

.article a {
  font-weight: 500;
  text-decoration: underline;
}

.article img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.article img + img {
  margin-top: 1.25rem;
}

blockquote {
  border-left: solid .5rem #0001;
  font-size: 0.9em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 1rem;
}

.article__title {
  margin: 0 0 1rem;
  font-size: 3rem;
}

img.article__image {
  margin-top: 2rem;
}

.back-link {
  display: block;
}

.article-links {
  margin: 1rem 0 0;
  padding: 0 0 0 1ch;
  list-style-type: none;
}

.article-links__item {
  display: block;
  text-indent: -1ch;
}

.article-links__item:before {
  content: ' / ';
  opacity: 0.3;
}
