/*reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}
/* remember to define focus styles! */


/*business*/
header {
	padding-top: 5px;
	font-size: 30px;
	text-align: left;
	padding-left: 10px;
	padding-bottom: 10px;
	background-color: rgba(255,255,255,0.8);
	z-index: 2;
}

footer {
	margin-top: 3px;
	font-size: 10px;
	font-family: Arial;
	color: #999;
	text-align: center;
}

body {
	overflow: hidden;
}

p {
	padding-left: 10px;
	padding-bottom: 20px;
	width: 805px;
	text-align: justify;
	line-height: 1.5;
}

h3 {
	padding-left: 10px;
	font-size: 18px;
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}

#content {
	margin-top: 5px;
	background-color: rgba(255,0.5);
	cursor: default;
	width: 830px;
	z-index: -1;
	position: fixed;
	top: 0px;
	overflow: hidden;
	float: left;
}


#bio {

}


#sound {


}


#picture {

}


#space {

}

#_intro {
	padding-left: 10px;
	z-index: -1;
	position: fixed;
	left: 820px;
	top: -50px;
}

#_bio {
	padding-bottom: 20px;
	background: rgba(255);
}

#_sound {
	padding-bottom: 20px;
}

#_picture {
	padding-bottom: 20px;
}

#_space {
	padding-bottom: 20px;
}

#animation {

}


.social {
	width: 20px;
	height: 20px;	
}

.footnote {
	font-family: Arial;
	font-size: 10px;
	margin-left: 10px;	
}