html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

body, html {
	background: url('images/bg2.jpg');
	background-repeat: no-repeat;
	background-position: top left;
	background-attachment: fixed;
	background-size: cover;
	color: white;
	font-family: 'Alegreya Sans', sans-serif !important;
	font-size: 15px;
}

#content-wrapper::-webkit-scrollbar { width: 0 !important; }
#content::-webkit-scrollbar { width: 0 !important; }
body::-webkit-scrollbar { width: 0 !important; }

footer {
	width: 100%;
	position: fixed;
	text-align: center;
	font-size: 0.85em;
	font-weight: normal;
	color: white;
	top: 98vh;
	z-index: 2;
}

a {
	color: white;
	font-style: italic;
	text-decoration: none;
}

a:hover {
	text-shadow: 0em 0em 0.2em white;
}

a:active {
	text-shadow: 0em 0em 0.2em white;
}

a:visited {
	color:white;
}

.bgload {
	display: none;
}

#shade {
	background-color: black;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 10;
	top: 0px;
	left: 0px;
	display: inline-block;
	z-index: 3;
	opacity: 1;
	transition: opacity 2s;
	-webkit-transition: opacity 2s;
	pointer-events: none
}

#menu {
	width: 100%;
	height: 10vh;
	text-align: center;
	margin-top: 10px;
	padding-bottom: 10px;
	position: fixed;
	top:0;
	z-index: 2;
	overflow: visible;
}

.menuitem {
	color: white;
	width: 31%;
	font-size: 3em;
	display: inline-block;
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 15px;
	padding-top: 10px;
	cursor: pointer;
	position: relative;
	top: 3px;
	font-weight: lighter;
	text-shadow: none;
}

.menuitem:hover {
	/*text-shadow: 0em 0em 0.2em white;*/
	-webkit-animation: flicker 5s ease-in-out 0s infinite;
	animation: flicker 3s ease-in-out 0s infinite;
}

.on {
	-webkit-animation: flicker 5s ease-in-out 0s infinite;
	animation: flicker 3s ease-in-out 0s infinite;
}

.sign {
	display: inline-block;
	width: 100px;
}

.desc {
	display: none;
	position: relative;
	top: 13px;
}

#content-wrapper {
	width: 100%;
	margin-top: 15vh;
	height: 85vh;
	text-align: center;
	overflow-y: scroll;
	overflow-x: visible;
	overflow: -moz-scrollbars-none;
	position: relative;
	z-index: 1;

}

#content {
	display: inline-block;
	overflow-y: scroll;
	overflow-x: visible;
	overflow: -moz-scrollbars-none;
	background-color: transparent;

}

.hl {
	background: rgba(255,255,255,0.9);
}

p {
	width: 70vw;
	max-width: 500px;
	/*display: inline-block;*/
	padding: 5px;
	line-height: 2.5ex;
	font-size: 1.3em;
	text-align: justify;
}

#introtext {
	color: white;
	padding-top: 50px;
	text-align: center;
	font-size: 1em;
}

#introtext img {
	width: 13vw;
}

.contenttext {
	text-align: center;
	text-align: justify;
	margin-bottom: 20vh;
}

.heading {
	margin-top: 3vh;
	font-size: 2em;
	display: block;
	letter-spacing: 1px;
	text-align: left;
}

.heading a {
	font-style: normal;
	cursor: pointer;
}

@keyframes flicker {
	0% { text-shadow: 0em 0em 0.2em rgba(255,255,255,1); }
	44% { text-shadow: 0em 0em 0.2em rgba(255,255,255,1); }
	45% { text-shadow: 0em 0em 0.5em rgba(255,255,255,0.2); }
	46% { text-shadow: 0em 0em 0.3em rgba(255,255,255,1); }
	59% { text-shadow: 0em 0em 0.3em rgba(255,255,255,1); }
	60% { text-shadow: 0em 0em 0.5em rgba(255,255,255,0.2); }
	61% { text-shadow: 0em 0em 0.3em rgba(255,255,255,1); }
	100% { text-shadow: 0em 0em 0.2em rgba(255,255,255,1); }
}

@-webkit-keyframes flicker {
	0% { text-shadow: 0em 0em 0.2em rgba(255,255,255,1); }
	44% { text-shadow: 0em 0em 0.2em rgba(255,255,255,1); }
	45% { text-shadow: 0em 0em 0.5em rgba(255,255,255,0.2); }
	46% { text-shadow: 0em 0em 0.3em rgba(255,255,255,1); }
	59% { text-shadow: 0em 0em 0.3em rgba(255,255,255,1); }
	60% { text-shadow: 0em 0em 0.5em rgba(255,255,255,0.2); }
	61% { text-shadow: 0em 0em 0.3em rgba(255,255,255,1); }
	100% { text-shadow: 0em 0em 0.2em rgba(255,255,255,1); }
}

.heading:hover {
	/*text-shadow: 0em 0em 0.2em white;*/

}

#grain {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	z-index: 0;
}

#loader {
	position: fixed;
	top: 40vh;
	left: 48vw;
	height: 10vh;
	opacity: 0.5;
}

#audioSwitch {
	position: fixed;
	float: right;
	margin-right: 0.5vw;
	display: inline-block;
	right: 0vw;
	font-size: 13px;
	font-family: Courier;
	cursor: pointer;
}

#description-for-weird-websites-that-dont-do-meta-tags {
	position: fixed;
	z-index: -5;
	opacity: 0.00000001;
}