<footer>
    <hr />
    <p>This website was built by me. If you like it, let me know. I can make you one, too.</p>
    <p>
      Let's talk on
      <a href="https://twitter.com/fiala__">twitter,</a>
       <a href="https://facebook.com/j4kub.fiala">facebook</a>
       or <a class="email-link" href="http://www.google.com/recaptcha/mailhide/d?k=01mR7SwbvIckCraATGp1QMYQ==&amp;c=xW79jRHq0M5YO4QoQTX_-5QyAL7Eb_tuTpuehUYYloA=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\x3d01mR7SwbvIckCraATGp1QMYQ\x3d\x3d\x26c\x3dxW79jRHq0M5YO4QoQTX_-5QyAL7Eb_tuTpuehUYYloA\x3d', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">email.</a>
    </p>
</footer>