@import url('https://fonts.googleapis.com/css?family=Alegreya:400,400i,700&subset=latin-ext');

$themeColor: #F4A61E;
$themeColorLight: #F6C268;
$body-padding: 25px;
$intro-length: 3.5s;

html, body {
    padding: 0;
    margin: 0;
}

html {
    background: black;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    line-height: 1.563;
}

body {
    color: white;
    font-family: 'Alegreya', serif;
    -moz-osx-font-smoothing: grayscale;
    @media print {
        color: black;
    }
}

::selection {
    color: black;
    background: $themeColor;
}

::-webkit-selection {
    color: black;
    background: $themeColor;
}

header {
    background: #000; // for old browsers;
    background: -moz-linear-gradient(black, transparent); /* For Firefox 3.6 to 15 */
    background: -o-linear-gradient(black, transparent); /* For Opera 11.1 to 12.0 */
    background: -webkit-linear-gradient(black, transparent); /* For Safari 5.1 to 6.0 */
    background: linear-gradient(black, transparent); /* Standard syntax */
    box-sizing: border-box;
    font-size: 1.953rem;
    font-weight: bold;
    margin: 0;
    min-height: 2em;
    padding: $body-padding 0;
    position: fixed;
    text-align: center;
    text-rendering:  optimizeLegibility;
    width: 100%;
    z-index: 2;

    @media print {
        position: static;
    }

    ul,
    li {
        display: inline;
        margin: 0;
        list-style: none;
    }

    li {
        @include visually-hidden;
        .intro & {
            opacity: 0;
            animation: fadeIn 0.5s forwards;
            -webkit-animation-fill-mode: forwards;
        }

        &.link--active {
            @include undo-visually-hidden;
            .header__expand-btn {
                display: inline-block;
                position: absolute;
                right: 1.1em;
                top: 0.65em;
                .intro & {
                    top: 0em;
                }
            }
        }

        padding: 0;
    }
}

.header__home-link {
    display: inline;
    .intro & {
        transition-delay: 1s;
    }
}

.header__links {
    display: block;
    padding: 0 $body-padding $body-padding*4 $body-padding;

    .intro & {
        li:nth-of-type(1) {
            animation-delay: 1.75s;
        }

        li:nth-of-type(2) {
            animation-delay: 2.5s;
        }

        li:nth-of-type(3) {
            animation-delay: 3s;
        }
    }
}

nav {
    max-height: 1.5em;
    .intro & {
        transform: translateY(calc(50vh - 1em));
        animation: backToTop 1s 2s forwards;
        -webkit-animation-fill-mode: forwards;
    }

    &[aria-expanded='true'] {
        max-height: none;
        padding-bottom: 7em;
        & li {
            @include undo-visually-hidden;
            display: block;
        }
    }
}

.header__expand-btn {
    cursor: pointer;
    display: none;
    transform: scale(1.3) translateX(50%) rotate(0deg);
    transform-origin: center center;

    &[aria-expanded='true'] {
        transform: scale(1.3) translateX(50%) rotate(45deg);
    }
}

.visible,
.intro .visible {
    opacity: 1;
}

a,
a:visited,
a:active {
    color: $themeColor;
    text-decoration: none;
}

article, footer {
    a:before {
        transform-origin: center center;
        content: '\2749';
        display: inline-block;
        margin-right: 0.15em;
        font-size: 0.75em;
        animation: rotate 10s linear infinite forwards;
        animation-play-state: paused;
        vertical-align: text-top;
        -webkit-animation-fill-mode: forwards;
    }

    a:hover, a:focus, a:active {
        &:before {
            animation-play-state: running;
        }
    }
}

a:hover, a:focus, a:active {
    text-shadow: 0 0 7px $themeColor, 0 0 15px $themeColor;
    cursor: pointer;
}

a.link--active {
    text-shadow: 0 0 10px $themeColor, 0 0 15px $themeColor, 0 0 70px $themeColor;
}

canvas,
.video-overlay,
.video-background {
    transition: opacity 1s;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}

.video-overlay {
    background: rgba(0,0,0,0.8);
}

main {
    margin: 0 auto;
    max-width: 700px;
    .intro & {
        opacity: 0;
        animation: fadeIn 1s $intro-length forwards;
    }
}

article {
    padding: $body-padding;
    padding-top: 5.96rem;
    hyphens: auto;
    -webkit-hyphens: auto;
    overflow-wrap: break-word;

    @media print {
        padding-top: 0;
    }
}

p {
    margin: 0;
}

p + p,
p + iframe {
    margin-top: 1.563rem;
}

footer {
    font-size: 0.8rem;
    padding: 0 $body-padding;
    text-align: center;
    margin: 3.052rem 0;

    hr {
        margin: 3.052rem auto 1.25rem auto;
    }
}

ol {
    list-style: cjk-ideographic;
}

.inline_player {
    max-width: none;
}

hr {
    border-color: $themeColor;
    margin: 3.052rem 0 0.64rem 0;
    width: 7.5ch;

    & + h2 {
        margin-top: 0;
    }
}

h2 {
    color: $themeColor;
    margin-bottom: 0.64rem;
    font-size: 1.563rem;
}

iframe {
    box-sizing: border-box;
    border: solid 3px $themeColor;
    width: 100%;
}

figure, img {
    border-top: solid 3px $themeColor;
    border-bottom: solid 3px $themeColor;
    box-sizing: border-box;
    position: relative;
    margin: 1.563rem 0 0 0;
}

figure {
    height: 0;
    left: -$body-padding;
    padding-bottom: 51%;
    width: calc(100% + #{2 * $body-padding});
    &:focus {
        animation: flicker_box 4s infinite;
        box-shadow: 0 0 30px $themeColor;
        outline: none;
    }
    iframe {
        border: none;
        height: 100%;
        left: 0; top: 0;
        position: absolute;
        width: 100%;
    }
}

figcaption {
    font-size: smaller;
    left: -7.5%;
    position: relative;
    text-align: right;
    width: 115%;
}

img {
    width: 100%;
    border: solid 3px $themeColor;
    & + figcaption {
        left: 0;
        width: 100%;
    }
}


@media all and (min-width: 768px) {

    body, html {
        font-size: 24px;
    }

    header {
        padding: $body-padding;

        li {
            @include undo-visually-hidden;
            display: inline;

            &.link--active {
                .header__expand-btn {
                    display: none;
                }
            }
        }
    }

    nav {
        .intro & {
            animation: backToTop 1s $intro-length forwards;
        }
    }

    main {
        padding: $body-padding;
        width: 75%;
        .intro & {
            opacity: 0;
            animation: fadeIn 1s $intro-length forwards;
        }
    }

    article {
        padding-left: 0;
        padding-right: 0;
        position: relative;
    }

    .header__expand-btn {
        display: none;
    }

    .header__links {
        display: inline;
        padding: 0;
    }

    figure, img {
        border: solid 3px $themeColor;
        left: -7.5%;
        width: 115%;
    }

    img + figcaption {
        left: -7.5%;
        width: 115%;
    }
}

@media all and (min-width: 1200px) {
    header {
        padding-bottom: 60px;
    }

    main {
        width: 50%;
    }
}
