.sc-player {
  background-color: transparent;
  color: transparent;
  font-size: 0.6em;
  line-height: 1.6em;
  font-weight: bold;
}

.sc-player a {
  text-decoration: none;
  color: transparent;
}

/* scrubber */

.sc-scrubber {
  background-color: transparent;
}

.sc-scrubber .sc-time-span {
  background-color:rgba(255,255,255,0.2);
}

.sc-scrubber .sc-time-span img {
  height: 100%;
  width: 100%;
  background-color: transparent;
  -webkit-filter: drop-shadow(0em 0em 0.2em white);
  filter: drop-shadow(0em 0em 0.2em white);
}

.sc-scrubber .sc-time-span .sc-waveform-container {
  height: 100%;
}

.sc-scrubber .sc-buffer, .sc-scrubber .sc-played {
  background-color: #fff;
  opacity: 0.2;
}

.sc-scrubber .sc-played {
  background-color: #fff;
  opacity: 0.2;
}

/* controls */

.sc-player .sc-controls a {
  color: transparent;
  background: url('img/play.png');
}

.sc-player .sc-controls a:hover {
  background: url('img/play-hover.png');
}

.sc-player .sc-controls a.sc-pause {
  background: url('img/play.png');
}

.sc-player .sc-controls a.sc-pause:hover{
  background: url('img/play-hover.png');
}

.sc-player.playing .sc-controls a.sc-pause{
  background: url('img/pause.png');
}

.sc-player.playing .sc-controls a.sc-pause:hover{
  background: url('img/pause-hover.png');
}

.sc-scrubber .sc-time-indicators{
  background: #fff;
  color: red;
  padding: 4px;
}

/* Track listings*/

.sc-player ol.sc-trackslist li {
  background: #e5e5e5;
  padding: 5px;
}

.sc-player ol.sc-trackslist li.active, .sc-player ol.sc-trackslist li:hover {
  background-color: #fff;
  padding: 5px;
  color: red;
}

.sc-player ol.sc-trackslist li.active a {
  color: red;
}

.sc-track-duration {
  text-align: right;
  float: right;
  padding: 0 5px;
  margin-left: 5px;
  display: none;
}

/* Track info*/

.sc-player .sc-info{
  background: #fff;
  opacity: 0.9;
}

.sc-player .sc-info-toggle{
  background: #fff;
  color: #003399;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-box-shadow: 1px 1px 4px #ccc;
  -webkit-box-shadow: 1px 1px 4px #ccc;
  padding: 4px;
}

.sc-player .sc-info-toggle:hover{
  background: #003399;
  color: #eee;
}

.sc-player .sc-info-close{
  background: #003399;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 2px 4px;
  font-weight: bold;
}

/* remote control */

a.sc-remote-link {
  background: url('img/play.png') top left no-repeat;
  padding-left: 20px;
  text-decoration: none;
}

a.sc-remote-link.playing{
  background-image: url('img/pause.png');
}

